html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,113,1) 35%, rgba(179,0,255,1) 100%);

    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    position: relative;

    width: 13vh;
    height: 13vh;

    background: none;
    border: 4px solid #a4d320;
    border-radius: 25%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Agency FB", serif;
    color: white;

    font-size: 24pt;

    outline: none;

    transition: border-color .2s ease-in-out;
}

input:hover {
    border-color: #d3af27;
}